.godot/export_credentials.cfg
.godot/uid_cache.bin
.godot/editor/bullet.cs-folding-57a259601ee9b3d13b7da6ed88ef9499.cfg
.godot/editor/bullet.tscn-editstate-6350fccf6e14d2f0c891730ee1d2c6cd.cfg
.godot/editor/bullet.tscn-folding-6350fccf6e14d2f0c891730ee1d2c6cd.cfg
.godot/editor/create_recent.Node
.godot/editor/editor_layout.cfg
.godot/editor/export-23af5b5b4b536de664300f16912ab0a5-impact.scn-folding-c423d562e91540b09cd8e36146326554.cfg
.godot/editor/export-36a25e342948d0ceacc500772b5412b3-player.scn-folding-bbdab43dae6813e46e43b9624cd14de2.cfg
.godot/editor/export-6350fccf6e14d2f0c891730ee1d2c6cd-bullet.scn-folding-74b86f139e72bb3be0fae6de6b94db95.cfg
.godot/editor/export-19246414aa9fb561ced4b8dce477acec-default_bus_layout.res-folding-78e26862b5a1159d1ac1d1996757bcbe.cfg
.godot/editor/export-aec2b102d84bb89f68fff5ad31f206fa-survivors_game.scn-folding-58fcc05b662d422d532f9f5e85885d6b.cfg
.godot/editor/export-b157f8b9faf8fae6f6c4fc021b88b5f1-muzzle_flash.scn-folding-2c7eb5d1e2e6f01198a94fc18105b4fc.cfg
.godot/editor/export-b254bef953a17239ecd110db09321b87-gun.scn-folding-4e8b90bcc8fda4432ce0206d6156b213.cfg
.godot/editor/export-b756424139543dd116d3f8c138331a28-slime.scn-folding-2fd223a0c968970e4a90a5fe284ae775.cfg
.godot/editor/export-bf993d67081309dd66a6fbfd837d4c3c-pine_tree.scn-folding-292f541ed0bc82b3a13c4fa58a195bd7.cfg
.godot/editor/export-d648d95b60292c6ab5a2df3cfa132f65-happy_boo.scn-folding-fc296e12252b4a7dceb4b17f0819851c.cfg
.godot/editor/export-d32060e7dd9dbfc7fef7362a6210a987-mob.scn-folding-0d08be3076117afc61cb1b2cb47bb03f.cfg
.godot/editor/export-e72ef0eae21a758bfc24d9e4f444eb60-smoke_explosion.scn-folding-12dee1eb45be8fb3cfdb046ef64bef53.cfg
.godot/editor/export-f25555e8dbdc63b0046bd11dbf14cb6d-square_modification_stack.res-folding-5815e5d1946b31608608d5ba40dc0a13.cfg
.godot/editor/filesystem_cache8
.godot/editor/filesystem_update4
.godot/editor/gun.cs-folding-46d61224f735f6ea9948c413b6e46379.cfg
.godot/editor/gun.tscn-editstate-b254bef953a17239ecd110db09321b87.cfg
.godot/editor/gun.tscn-folding-b254bef953a17239ecd110db09321b87.cfg
.godot/editor/happy_boo.tscn-editstate-d648d95b60292c6ab5a2df3cfa132f65.cfg
.godot/editor/mob.tscn-editstate-d32060e7dd9dbfc7fef7362a6210a987.cfg
.godot/editor/mob.tscn-folding-d32060e7dd9dbfc7fef7362a6210a987.cfg
.godot/editor/player.tscn-editstate-36a25e342948d0ceacc500772b5412b3.cfg
.godot/editor/player.tscn-folding-36a25e342948d0ceacc500772b5412b3.cfg
.godot/editor/project_metadata.cfg
.godot/editor/recent_dirs
.godot/editor/slime.tscn-editstate-b756424139543dd116d3f8c138331a28.cfg
.godot/editor/survivors_game.tscn-editstate-aec2b102d84bb89f68fff5ad31f206fa.cfg
.godot/editor/survivors_game.tscn-folding-aec2b102d84bb89f68fff5ad31f206fa.cfg
.godot/editor/SurvivorsGame.cs-folding-97290b6b105d04bbd5099b7d0793b0ad.cfg
.godot/exported/133200997/export-23af5b5b4b536de664300f16912ab0a5-impact.scn
.godot/exported/133200997/export-36a25e342948d0ceacc500772b5412b3-player.scn
.godot/exported/133200997/export-6350fccf6e14d2f0c891730ee1d2c6cd-bullet.scn
.godot/exported/133200997/export-19246414aa9fb561ced4b8dce477acec-default_bus_layout.res
.godot/exported/133200997/export-aec2b102d84bb89f68fff5ad31f206fa-survivors_game.scn
.godot/exported/133200997/export-b157f8b9faf8fae6f6c4fc021b88b5f1-muzzle_flash.scn
.godot/exported/133200997/export-b254bef953a17239ecd110db09321b87-gun.scn
.godot/exported/133200997/export-b756424139543dd116d3f8c138331a28-slime.scn
.godot/exported/133200997/export-bf993d67081309dd66a6fbfd837d4c3c-pine_tree.scn
.godot/exported/133200997/export-d648d95b60292c6ab5a2df3cfa132f65-happy_boo.scn
.godot/exported/133200997/export-d32060e7dd9dbfc7fef7362a6210a987-mob.scn
.godot/exported/133200997/export-e72ef0eae21a758bfc24d9e4f444eb60-smoke_explosion.scn
.godot/exported/133200997/export-f25555e8dbdc63b0046bd11dbf14cb6d-square_modification_stack.res
.godot/exported/133200997/file_cache
.godot/mono/temp/bin/Debug/Getting started with Godot 4.dll
.godot/mono/temp/bin/Debug/Getting started with Godot 4.pdb
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-console-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-console-l1-2-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-datetime-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-debug-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-errorhandling-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-fibers-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-file-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-file-l1-2-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-file-l2-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-handle-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-heap-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-interlocked-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-libraryloader-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-localization-l1-2-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-memory-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-namedpipe-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-processenvironment-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-processthreads-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-processthreads-l1-1-1.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-profile-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-rtlsupport-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-string-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-synch-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-synch-l1-2-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-sysinfo-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-timezone-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-core-util-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-crt-conio-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-crt-convert-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-crt-environment-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-crt-filesystem-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-crt-heap-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-crt-locale-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-crt-math-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-crt-multibyte-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-crt-private-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-crt-process-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-crt-runtime-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-crt-stdio-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-crt-string-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-crt-time-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/api-ms-win-crt-utility-l1-1-0.dll
.godot/mono/temp/bin/ExportDebug/win-x64/clretwrc.dll
.godot/mono/temp/bin/ExportDebug/win-x64/clrjit.dll
.godot/mono/temp/bin/ExportDebug/win-x64/coreclr.dll
.godot/mono/temp/bin/ExportDebug/win-x64/createdump.exe
.godot/mono/temp/bin/ExportDebug/win-x64/dbgshim.dll
.godot/mono/temp/bin/ExportDebug/win-x64/Getting started with Godot 4.deps.json
.godot/mono/temp/bin/ExportDebug/win-x64/Getting started with Godot 4.dll
.godot/mono/temp/bin/ExportDebug/win-x64/Getting started with Godot 4.pdb
.godot/mono/temp/bin/ExportDebug/win-x64/Getting started with Godot 4.runtimeconfig.json
.godot/mono/temp/bin/ExportDebug/win-x64/GodotSharp.dll
.godot/mono/temp/bin/ExportDebug/win-x64/hostfxr.dll
.godot/mono/temp/bin/ExportDebug/win-x64/hostpolicy.dll
.godot/mono/temp/bin/ExportDebug/win-x64/Microsoft.CSharp.dll
.godot/mono/temp/bin/ExportDebug/win-x64/Microsoft.DiaSymReader.Native.amd64.dll
.godot/mono/temp/bin/ExportDebug/win-x64/Microsoft.VisualBasic.Core.dll
.godot/mono/temp/bin/ExportDebug/win-x64/Microsoft.VisualBasic.dll
.godot/mono/temp/bin/ExportDebug/win-x64/Microsoft.Win32.Primitives.dll
.godot/mono/temp/bin/ExportDebug/win-x64/Microsoft.Win32.Registry.dll
.godot/mono/temp/bin/ExportDebug/win-x64/mscordaccore_amd64_amd64_6.0.2724.6912.dll
.godot/mono/temp/bin/ExportDebug/win-x64/mscordaccore.dll
.godot/mono/temp/bin/ExportDebug/win-x64/mscordbi.dll
.godot/mono/temp/bin/ExportDebug/win-x64/mscorlib.dll
.godot/mono/temp/bin/ExportDebug/win-x64/mscorrc.dll
.godot/mono/temp/bin/ExportDebug/win-x64/msquic.dll
.godot/mono/temp/bin/ExportDebug/win-x64/netstandard.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.AppContext.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Buffers.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Collections.Concurrent.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Collections.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Collections.Immutable.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Collections.NonGeneric.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Collections.Specialized.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.ComponentModel.Annotations.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.ComponentModel.DataAnnotations.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.ComponentModel.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.ComponentModel.EventBasedAsync.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.ComponentModel.Primitives.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.ComponentModel.TypeConverter.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Configuration.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Console.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Core.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Data.Common.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Data.DataSetExtensions.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Data.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Diagnostics.Contracts.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Diagnostics.Debug.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Diagnostics.DiagnosticSource.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Diagnostics.FileVersionInfo.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Diagnostics.Process.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Diagnostics.StackTrace.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Diagnostics.TextWriterTraceListener.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Diagnostics.Tools.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Diagnostics.TraceSource.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Diagnostics.Tracing.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Drawing.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Drawing.Primitives.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Dynamic.Runtime.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Formats.Asn1.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Globalization.Calendars.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Globalization.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Globalization.Extensions.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.IO.Compression.Brotli.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.IO.Compression.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.IO.Compression.FileSystem.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.IO.Compression.Native.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.IO.Compression.ZipFile.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.IO.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.IO.FileSystem.AccessControl.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.IO.FileSystem.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.IO.FileSystem.DriveInfo.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.IO.FileSystem.Primitives.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.IO.FileSystem.Watcher.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.IO.IsolatedStorage.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.IO.MemoryMappedFiles.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.IO.Pipes.AccessControl.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.IO.Pipes.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.IO.UnmanagedMemoryStream.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Linq.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Linq.Expressions.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Linq.Parallel.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Linq.Queryable.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Memory.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Net.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Net.Http.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Net.Http.Json.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Net.HttpListener.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Net.Mail.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Net.NameResolution.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Net.NetworkInformation.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Net.Ping.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Net.Primitives.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Net.Quic.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Net.Requests.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Net.Security.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Net.ServicePoint.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Net.Sockets.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Net.WebClient.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Net.WebHeaderCollection.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Net.WebProxy.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Net.WebSockets.Client.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Net.WebSockets.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Numerics.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Numerics.Vectors.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.ObjectModel.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Private.CoreLib.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Private.DataContractSerialization.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Private.Uri.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Private.Xml.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Private.Xml.Linq.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Reflection.DispatchProxy.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Reflection.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Reflection.Emit.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Reflection.Emit.ILGeneration.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Reflection.Emit.Lightweight.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Reflection.Extensions.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Reflection.Metadata.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Reflection.Primitives.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Reflection.TypeExtensions.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Resources.Reader.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Resources.ResourceManager.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Resources.Writer.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Runtime.CompilerServices.Unsafe.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Runtime.CompilerServices.VisualC.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Runtime.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Runtime.Extensions.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Runtime.Handles.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Runtime.InteropServices.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Runtime.InteropServices.RuntimeInformation.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Runtime.Intrinsics.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Runtime.Loader.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Runtime.Numerics.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Runtime.Serialization.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Runtime.Serialization.Formatters.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Runtime.Serialization.Json.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Runtime.Serialization.Primitives.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Runtime.Serialization.Xml.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Security.AccessControl.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Security.Claims.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Security.Cryptography.Algorithms.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Security.Cryptography.Cng.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Security.Cryptography.Csp.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Security.Cryptography.Encoding.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Security.Cryptography.OpenSsl.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Security.Cryptography.Primitives.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Security.Cryptography.X509Certificates.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Security.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Security.Principal.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Security.Principal.Windows.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Security.SecureString.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.ServiceModel.Web.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.ServiceProcess.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Text.Encoding.CodePages.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Text.Encoding.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Text.Encoding.Extensions.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Text.Encodings.Web.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Text.Json.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Text.RegularExpressions.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Threading.Channels.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Threading.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Threading.Overlapped.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Threading.Tasks.Dataflow.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Threading.Tasks.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Threading.Tasks.Extensions.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Threading.Tasks.Parallel.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Threading.Thread.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Threading.ThreadPool.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Threading.Timer.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Transactions.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Transactions.Local.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.ValueTuple.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Web.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Web.HttpUtility.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Windows.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Xml.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Xml.Linq.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Xml.ReaderWriter.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Xml.Serialization.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Xml.XDocument.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Xml.XmlDocument.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Xml.XmlSerializer.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Xml.XPath.dll
.godot/mono/temp/bin/ExportDebug/win-x64/System.Xml.XPath.XDocument.dll
.godot/mono/temp/bin/ExportDebug/win-x64/ucrtbase.dll
.godot/mono/temp/bin/ExportDebug/win-x64/WindowsBase.dll
.godot/mono/temp/obj/Debug/Getting started with Godot 4.AssemblyInfo.cs
.godot/mono/temp/obj/Debug/Getting started with Godot 4.AssemblyInfoInputs.cache
.godot/mono/temp/obj/Debug/Getting started with Godot 4.csproj.CoreCompileInputs.cache
.godot/mono/temp/obj/Debug/Getting started with Godot 4.csproj.FileListAbsolute.txt
.godot/mono/temp/obj/Debug/Getting started with Godot 4.dll
.godot/mono/temp/obj/Debug/Getting started with Godot 4.pdb
.godot/mono/temp/obj/Debug/Getting started with Godot 4.sourcelink.json
.godot/mono/temp/obj/Debug/ref/Getting started with Godot 4.dll
.godot/mono/temp/obj/Debug/refint/Getting started with Godot 4.dll
.godot/mono/temp/obj/ExportDebug/win-x64/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
.godot/mono/temp/obj/ExportDebug/win-x64/Getting .B851D4ED.Up2Date
.godot/mono/temp/obj/ExportDebug/win-x64/Getting started with Godot 4.AssemblyInfo.cs
.godot/mono/temp/obj/ExportDebug/win-x64/Getting started with Godot 4.AssemblyInfoInputs.cache
.godot/mono/temp/obj/ExportDebug/win-x64/Getting started with Godot 4.assets.cache
.godot/mono/temp/obj/ExportDebug/win-x64/Getting started with Godot 4.csproj.AssemblyReference.cache
.godot/mono/temp/obj/ExportDebug/win-x64/Getting started with Godot 4.csproj.CoreCompileInputs.cache
.godot/mono/temp/obj/ExportDebug/win-x64/Getting started with Godot 4.csproj.FileListAbsolute.txt
.godot/mono/temp/obj/ExportDebug/win-x64/Getting started with Godot 4.dll
.godot/mono/temp/obj/ExportDebug/win-x64/Getting started with Godot 4.GeneratedMSBuildEditorConfig.editorconfig
.godot/mono/temp/obj/ExportDebug/win-x64/Getting started with Godot 4.genruntimeconfig.cache
.godot/mono/temp/obj/ExportDebug/win-x64/Getting started with Godot 4.pdb
.godot/mono/temp/obj/ExportDebug/win-x64/Getting started with Godot 4.sourcelink.json
.godot/mono/temp/obj/ExportDebug/win-x64/PublishOutputs.40ff9a63f1.txt
.godot/mono/temp/obj/ExportDebug/win-x64/ref/Getting started with Godot 4.dll
.godot/mono/temp/obj/ExportDebug/win-x64/refint/Getting started with Godot 4.dll
.godot/shader_cache/CanvasShaderGLES3/a2ed8f84f2e2e87ffdb1cbbd1bdd490b79d795bd1cf06bd18b3d1de2816172d6/9d7d660c432a14f5e1d34709e4898d336a7de49e.cache
.godot/uid_cache.bin
.godot/editor/create_recent.Node
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache8
.godot/editor/filesystem_update4
.godot/editor/happy_boo.tscn-editstate-d648d95b60292c6ab5a2df3cfa132f65.cfg
.godot/editor/player.tscn-editstate-36a25e342948d0ceacc500772b5412b3.cfg
.godot/editor/player.tscn-folding-36a25e342948d0ceacc500772b5412b3.cfg
.godot/editor/project_metadata.cfg
.godot/editor/recent_dirs
.godot/editor/slime.tscn-editstate-b756424139543dd116d3f8c138331a28.cfg
.godot/editor/survivors_game.tscn-editstate-aec2b102d84bb89f68fff5ad31f206fa.cfg
.godot/editor/survivors_game.tscn-folding-aec2b102d84bb89f68fff5ad31f206fa.cfg
.godot/mono/temp/bin/Debug/Getting started with Godot 4.dll
.godot/mono/temp/bin/Debug/Getting started with Godot 4.pdb
.godot/mono/temp/obj/Debug/Getting started with Godot 4.AssemblyInfo.cs
.godot/mono/temp/obj/Debug/Getting started with Godot 4.AssemblyInfoInputs.cache
.godot/mono/temp/obj/Debug/Getting started with Godot 4.csproj.CoreCompileInputs.cache
.godot/mono/temp/obj/Debug/Getting started with Godot 4.csproj.FileListAbsolute.txt
.godot/mono/temp/obj/Debug/Getting started with Godot 4.dll
.godot/mono/temp/obj/Debug/Getting started with Godot 4.pdb
.godot/mono/temp/obj/Debug/ref/Getting started with Godot 4.dll
.godot/mono/temp/obj/Debug/refint/Getting started with Godot 4.dll
